body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide {
    display: none !important;  /* if there are 2 competing, this will take precedence */
}

.current-time {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    padding-right: 15%;
}

.questionText {
    
    font-weight: bold;
    font-size: 2rem;
}

/* Sets style for the buttons*/
.choiceButton, .start-button, #reset-button, #submit-button {
    top: 50%;
    background-color: #371a5c;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 10px;
}
/*The user is hovering over the  button element*/
.choiceButton:hover, .start-button:hover, #reset-button:hover, #submit-button:hover{
    background-color: #a683d4;
    color: #fff;
}
  
  /* The user is actively pressing down on the button element */
  .choiceButton:active, .start-button:active, #reset-button:active, #submit-button:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
  }